<div class="create-page">
  <div class="container">
    <a class="create-page__backLink backLink" [routerLink]="'/'">
      Back to data-table
    </a>
    <mat-card class="create-page__card">
      <h2 class="create-page___title">Create new business need</h2>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <!-- Rownum field -->
          <mat-form-field appearance="outline" class="create-page__field">
            <mat-label>RowNum</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              formControlName="rowNum"
            />
            <mat-hint>
              <div
                *ngIf="form.get('rowNum').touched && form.get('rowNum').invalid"
              >
                <small class="error" *ngIf="form.get('rowNum').errors.required"
                  >RowNum field is required</small
                >
              </div>
            </mat-hint>
          </mat-form-field>

          <!-- NeedName field -->
          <mat-form-field appearance="outline" class="create-page__field">
            <mat-label>NeedName</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              formControlName="needName"
            />
            <mat-hint>
              <div
                *ngIf="
                  form.get('needName').touched && form.get('needName').invalid
                "
              >
                <small
                  class="error"
                  *ngIf="form.get('needName').errors.required"
                  >NeedName field is required</small
                >
              </div>
            </mat-hint>
          </mat-form-field>

          <!-- Yearstart field -->
          <mat-form-field appearance="outline" class="create-page__field">
            <mat-label>YearStart</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              formControlName="yearStart"
            />
            <mat-hint>
              <div
                *ngIf="
                  form.get('yearStart').touched && form.get('yearStart').invalid
                "
              >
                <small
                  class="error"
                  *ngIf="form.get('yearStart').errors.required"
                  >YearStart field is required</small
                >
              </div>
            </mat-hint>
          </mat-form-field>

          <!-- PrjectNum field -->
          <mat-form-field appearance="outline" class="create-page__field">
            <mat-label>ProjectNum</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              formControlName="projectNum"
            />
            <mat-hint>
              <div
                *ngIf="
                  form.get('projectNum').touched &&
                  form.get('projectNum').invalid
                "
              >
                <small
                  class="error"
                  *ngIf="form.get('projectNum').errors.required"
                  >ProjectNum field is required</small
                >
              </div>
            </mat-hint>
          </mat-form-field>

          <!-- Justification field -->
          <mat-form-field class="create-page__field">
            <mat-label>Justification</mat-label>
            <mat-select formControlName="justification">
              <mat-option>None</mat-option>
              <mat-option [value]="'OWN_INITIATIVE'">{{
                "OWN_INITIATIVE"
              }}</mat-option>
              <mat-option [value]="'RECOMMENDATIONS'">{{
                "RECOMMENDATIONS"
              }}</mat-option>
              <mat-option [value]="'INDIVIDUAL_DOC'">{{
                "INDIVIDUAL_DOC"
              }}</mat-option>
              <mat-option [value]="'ANOTHER'">{{ "ANOTHER" }}</mat-option>
            </mat-select>
            <mat-hint>
              <div
                *ngIf="
                  form.get('justification').touched &&
                  form.get('justification').invalid
                "
              >
                <small
                  class="error"
                  *ngIf="form.get('justification').errors.required"
                  >Justification field is required</small
                >
              </div>
            </mat-hint>
          </mat-form-field>

          <button
            class="create-page__btn"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid || submitted"
          >
            Создать
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
