<div class="data-table">
  <div class="data-table__header">
    <mat-form-field class="data-table__search" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" />
    </mat-form-field>
    <a
      mat-flat-button
      [routerLink]="'/create'"
      color="accent"
      class="data-table__create-btn"
    >
      Add new element
    </a>
  </div>

  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    class="data-table__table"
  >
    <!-- Position Column -->
    <ng-container
      *ngFor="let col of displayedColumns; last as isLast"
      matColumnDef="{{ col }}"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col }}</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!isLast">{{ element[col] }}</div>
        <div *ngIf="isLast">
          <div class="data-table__btn-wrap">
            <button
              mat-raised-button
              color="basic"
              (click)="openDialog(element)"
              class="data-table__btn"
            >
              About
            </button>
            <button mat-raised-button color="basic" class="data-table__btn">
              Edit
            </button>
            <button mat-raised-button color="warn" class="data-table__btn">
              Delete
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="data-table__row"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
