.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    flex-grow: 1;
  }
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    color: white;
    text-decoration: none;
  }
}
