<div class="login-page">
    <form
        [formGroup]="loginForm"
        (ngSubmit)="submit()"
    >
        <mat-card class="login-page__card">
            <h2 class="login-page__title">Please login</h2>
            <p class="login-page__description">To use this system</p>

            <div
                class="alert alert-danger"
                *ngIf="auth.error$ | async as error"
            >
                {{ error }}
            </div>

            <div
                class="alert alert-info"
                *ngIf="message"
            >
                {{ message }}
            </div>

            <mat-card-content>
                <mat-form-field
                    appearance="outline"
                    class="login-page__field"
                >
                    <mat-label>E-mail</mat-label>
                    <input
                        matInput
                        placeholder="Placeholder"
                        formControlName="email"
                    >
                    <mat-hint>
                        <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
                            <small
                                class="error"
                                *ngIf="loginForm.get('email').errors.required"
                            >
                                Email field is required
                            </small>
                            <small
                                class="error"
                                *ngIf="loginForm.get('email').errors.email"
                            >
                                Type correct email
                            </small>
                        </div>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field
                    appearance="outline"
                    class="login-page__field"
                >
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        placeholder="Placeholder"
                        formControlName="password"
                        type="password"
                    >
                    <mat-hint>
                        <div *ngIf="
              loginForm.get('password').touched && loginForm.get('password').invalid
              ">
                            <small
                                class="error"
                                *ngIf="loginForm.get('password').errors.required"
                            >
                                Password field is required
                            </small>
                            <small
                                class="error"
                                *ngIf="loginForm.get('password').errors.minlength"
                            >
                                Password length must be at least
                {{
                  loginForm.get("password").errors.minlength.requiredLength
                }}
                            </small>
                        </div>
                    </mat-hint>
                </mat-form-field>
                <div class="login-page__field">
                    <button
                        class="login-page__btn"
                        mat-raised-button
                        color="primary"
                        type="submit"
                        [disabled]="loginForm.invalid || submitted"
                    >
                        Войти
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>
